html, body {
  margin: 0;
  padding: 60px 0;
  height: 100%;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  width: 100%;
}

.clear-button {
  background-color: rgb(240, 235, 255);
  color: rgb(7, 0, 14);
  font-weight:600;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #d5b0ee;
}

.uploader-background {
  background-image: url(./images/dc.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;  
}

.uploader-headline {
  text-align: center;
  color: white;
  border-radius: 10px;
}

.uploader-headline h1 {
  font-size: 70px;
}
 
.transparent-wallpaper {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4); 
  border-radius: 10px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.file-upload-label {
  background-color: #450679;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.file-upload-label:hover {
  background-color: #9c51ff;
}

.upload-error {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #222;
  color: white;
  padding: 15px;
}

.nav-links {
  display: flex;
  gap: 10px;
  margin: 0 auto;
}

.nav-links a {
  color: white;
}

.nav-links a:hover {
  color:#9c51ff;
}

.back-button {
  font-weight: 600;
}